{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'polls/base.css' %}" />

<nav class="menu" tabindex="0">
	<div class="smartphone-menu-trigger"></div>
	<header class="avatar">
		{% load static %}
		<img src="{% static "polls/images/avatar.png" %}" alt="My image"/>
		{%if user.is_authenticated %}
			<h2> {{user.username }} </h2>
		{%endif%}
	</header>
	<ul>
		<li tabindex="0" class="icon-dashboard"><span>Dashboard</span></li>
		<li tabindex="0" class="icon-customers"><span>Customers</span></li>
		<li tabindex="0" class="icon-settings"><span>Settings</span></li>
		<a style="text-decoration:none; color: white" href="{% url 'polls:signout' %}"><li tabindex="0" class="icon-users"><span>Logout</span></li></a>
		
	</ul>
</nav>

<main>
	<div class="helper">
		{% block content %}{% endblock %}
	</div>
</main>

