{% extends "polls/base_site.html" %}
<!-- <h1>
	{{ question.question_text }}
</h1>
<ul>
	{% for choice in question.choice_set.all %}
    	<li>
    		{{ choice.choice_text }}
    	</li>
	{% endfor %}
</ul> -->

{% block content %}
 <h1>{{ qquestion.question_text }}</h1>

{% if error_message %}<p> hello from the other side:<strong>{{error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' qquestion.id %}" method="post">
{% csrf_token %}
{% for choice in qquestion.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />

    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
    
{% endfor %}
<input type="submit" value="Vote" />
</form>
{% endblock %}